<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="car" slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-buttons>
    <ion-title> FogaçaMotors </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slide" pager="false"  [options]="slideOpts">
    <ion-slide  color="dark">
      <p>FACTOR 150 ED UBS</p>
      <img src="https://www3.yamaha-motor.com.br/file/v8941773054107341812/products/1385.faixa2.detalhe.desktopp.jpg" alt="">
      <ion-button class="btn-comprar" expand="block">Comprar</ion-button>
    </ion-slide>
    <ion-slide>
      <p>R3 MONSTER ABS</p>
      <img src="https://www3.yamaha-motor.com.br/file/v5299437419985741958/products/30022.faixa2.detalhe.desktop.jpg" alt="">
      <ion-button class="btn-comprar" expand="block">Comprar</ion-button>
    </ion-slide>
    <ion-slide>
      <p>FAZER 250 PANTERA NEGRA 2021</p>
      <img src="https://www3.yamaha-motor.com.br/file/v7113718357943045928/products/478.faixa2.detalhe.desktop.jpg" alt="">
      <ion-button class="btn-comprar" expand="block">Comprar</ion-button>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
     <ion-col routerLink="/cadastro-clientes">
      <ion-button class="btn-meio" >Cadastre-se</ion-button>
      </ion-col>
      <ion-col routerLink="/cadastro-motos">
        <ion-button class="btn-meio" >Venda sua Moto</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="/login">
        <ion-button class="btn-meio" >Login</ion-button>
      </ion-col>
      <ion-col routerLink="/custom">
        <ion-button class="btn-meio" >Sobre</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  

  <ion-slides class="slide" pager="false"  [options]="slideOpts">
    <ion-slide>
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_A_home_v1.jpg&height=970&width=770" alt="">
      <div class="historia">
        <h2>AVANÇAR REPENSAR TRANSFORMAR</h2>
        <p class=>A Yamaha, que nasceu fabricando instrumentos musicais e tem a arte em seu DNA, acredita que as pessoas são incríveis, inspiradoras e têm a arte dentro delas. Por isso, busca oferecer produtos e soluções que despertem emoções.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920" alt="">
      <div class="historia">
        <h2>ARTE PARA POSSIBILIDADES HUMANAS</h2>
        <p class=>Ao expandir as possibilidades humanas, a Yamaha pretende alcançar um crescimento sustentável e criar uma sociedade melhor e mais feliz.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_C_home.jpg&height=1080&width=1920" alt="">
      <div class="historia">
        <h2>NOSSO LEGADO</h2>
        <p class=>Estamos presentes em cerca de 200 países e fabricamos uma vasta gama de soluções como: motos para neve, quadriciclos, carros de golfe, bicicletas elétricas, piscinas, geradores, helicóptero de controle remoto, dentre outros.</p>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-card style="box-shadow: 0px 0px 10px 1px rgba(255,0,0,0.5);">
    <img src="https://motomundo.com.br/wp-content/uploads/2021/05/foto-destaque.001-29.jpeg" style="border-radius: 10px;" />
    <ion-card-header>
      <ion-card-subtitle>Sobre a Empresa</ion-card-subtitle>
      <ion-card-title>Nós Somos Autorizados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nossa empresa está autorizada a revender todos os produtos da Yamaha, desde motos a peças.
      Temos certificados que pode ser conferido!
    </ion-card-content>
  </ion-card>

  

  <ion-footer collapse="fade">
    <ion-toolbar>
      <p style="text-align:center;">Copyright © Todos os Direitos Reservados</p>
    </ion-toolbar>
  </ion-footer>

</ion-content>

